[submodule "work"]
	path = work
	url = git@gitlab.com:tobimichael/dotfiles-work.git
[submodule "desktop"]
	path = desktop
	url = git@gitlab.com:tobimichael/dotfiles-desktop.git
[submodule "laptop"]
	path = laptop
	url = git@gitlab.com:tobimichael/dotfiles-laptop.git
