[submodule "work"]
	path = work
	url = git@gitlab.com:tobimichael/dotfiles-work.git
	ignore = all
[submodule "desktop"]
	path = desktop
	url = git@gitlab.com:tobimichael/dotfiles-desktop.git
	ignore = all
[submodule "x230"]
        path = x230
        url = git@gitlab.com:tobimichael/dotfiles-x230.git
        ignore = all
